<div class="container">
  <div class="row">
    <div class="col-md-12">

			<div class="panel panel-default main-panel">
			  <div class="panel-heading">
			    <h1 class="panel-header">Social Networks</h1>
			  </div>
			  <div class="panel-body">


			  <div class="row">

			  	  <div class="col-md-4">
					  	<div class="panel panel-default">
					      <div class="panel-body">
					        <a href="/pages/show/"><img src="http://upload.wikimedia.org/wikipedia/en/5/5f/Rap-genius-logo.png" style="width:100%; height:200px;" class="img-rounded"></a>
					      </div>
					      <div class="panel-footer">
					        <h4 class="panel-title">Rap Genius  
						        <button type="button" class="btn btn-default btn-panel pull-right">
									  	<span class="glyphicon glyphicon-comment"></span>
										</button>
										<button type="button" class="btn btn-green btn-panel pull-right buy">Live</button>
										<div class="clearfix"></div>
									</h4>
					      </div>
					    </div>
				    </div>
				    <div class="col-md-4">
					  	<div class="panel panel-default">
					      <div class="panel-body">
					        <img src="http://cdn.arstechnica.net/wp-content/uploads/2013/10/new_youtube_logo_large_verge_medium_landscape.jpg" style="width:100%; height:200px;" class="img-rounded">
					      </div>
					      <div class="panel-footer">
					        <h4 class="panel-title">Youtube  
					        	<button type="button" class="btn btn-default btn-panel pull-right">
									  	<span class="glyphicon glyphicon-comment"></span>
										</button>
										<button type="button" class="btn btn-green btn-panel pull-right buy">Live</button>
										<div class="clearfix"></div>
									</h4>
					      </div>
					    </div>
				    </div>
				    <div class="col-md-4">
					  	<div class="panel panel-default">
					      <div class="panel-body">
					        <img src="http://etc-digital.org/wp-content/uploads/2013/11/airbnb-logo.png" style="width:100%; height:200px;" class="img-rounded">
					      </div>
					      <div class="panel-footer">
					        <h4 class="panel-title">Airbnb 
					          <button type="button" class="btn btn-default btn-panel pull-right">
									  	<span class="glyphicon glyphicon-comment"></span>
										</button> 
										<button type="button" class="btn btn-green btn-panel pull-right buy">Live</button>
										<div class="clearfix"></div>

									</h4></h4>
					      </div>
					    </div>
				    </div>

				  </div>

			  	<div class="row">

			  	  <div class="col-md-6">
					  	<div class="panel panel-default">
					      <div class="panel-body">
					        <img src="http://www.bossstart.com/wp-content/uploads/2011/03/Hipmunk.jpg" style="width:100%; height:300px;" class="img-rounded">
					      </div>
					      <div class="panel-footer">
					        <h4 class="panel-title">HipMunk</h4>
					      </div>
					    </div>
				    </div>
				    <div class="col-md-6">
					  	<div class="panel panel-default">
					      <div class="panel-body">
					        <img src="https://public.dm2301.livefilestore.com/y2pBDJ_ec7HkemupGKYoDqVJEO5VPYy4JomiTuzy2YgOMQ_ozMa9Kzu1p9p_J9DT3yqvpXYX34H4GJuvzX6DGsqgygZCb0phG32dXMPGZ7O3C8/DuckDuckGo%20Logo.jpg?psid=1" style="width:100%; height:300px;" class="img-rounded">
					      </div>
					      <div class="panel-footer">
					        <h4 class="panel-title">DuckDuckGo</h4>
					      </div>
					    </div>
				    </div>

				  </div>

			  	<div class="row">

			  	  <div class="col-md-4">
					  	<div class="panel panel-default">
					      <div class="panel-body">
					        <img src="http://www.geeky-gadgets.com/wp-content/uploads/2014/03/twitter.png" style="width:100%; height:200px;" class="img-rounded">
					      </div>
					      <div class="panel-footer">
					        <h4 class="panel-title">Twitter</h4>
					      </div>
					    </div>
				    </div>
				    <div class="col-md-4">
					  	<div class="panel panel-default">
					      <div class="panel-body">
					        <img src="http://www.verticalresponse.com/blog/wp-content/uploads/2013/07/Vine-logo.jpg" style="width:100%; height:200px;" class="img-rounded">
					      </div>
					      <div class="panel-footer">
					        <h4 class="panel-title">Vine</h4>
					      </div>
					    </div>
				    </div>
				    <div class="col-md-4">
					  	<div class="panel panel-default">
					      <div class="panel-body">
					        <img src="http://thefederalist.com/wp-content/uploads/2014/04/kickstarter.jpg" style="width:100%; height:200px;" class="img-rounded">
					      </div>
					      <div class="panel-footer">
					        <h4 class="panel-title">Kickstarter</h4>
					      </div>
					    </div>
				    </div>

				  </div>


			  </div>
			  <div class="panel-footer main-footer">

			  </div>
			</div>

    </div>
  </div>
</div>
