<div class="container">
  <div class="row">
    <div class="col-md-11">

      <div class="panel panel-default main-panel">
        <div class="panel-heading">
		  		<h1 class="panel-header">Vine <small>Social Network</small>
		  		<ul class="nav nav-tabs pull-right" role="tablist">
				  	<li class="active"><a href="#">Details</a></li>
				  	<li><a href="http://www.google.com">Demo</a></li>
					</ul>
					<div class="clearfix"></div>
					</h1>
	      </div>
		    <div class="panel-body">

		      <div class="row">

		        <div class="col-md-7">
		          
		          <div class="carousel slide article-slide" id="article-photo-carousel" style="width:100%;">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner cont-slider">

							    <div class="item active">
							      <img alt="" title="" src="http://d1v2fthkvl8xh8.cloudfront.net/wp-content/uploads/2013/02/vine_image.jpg">
							    </div>
							    <div class="item">
							      <img alt="" title="" src="http://www.techiesmartstore.com/wp-content/uploads/2013/06/vine.jpeg">
							    </div>
							    <div class="item">
							      <img alt="" title="" src="http://www.thegetsmartblog.com/wp-content/uploads/2013/07/Vine.jpg">
							    </div>
							    <div class="item">
							      <img alt="" title="" src="http://www.networksolutions.qa/wp-content/uploads/2014/04/Vine-is-the-New-Marketer-for-Your-Hotel-01.png">
							    </div>
							    <div class="item">
							      <img alt="" title="" src="http://placehold.it/600x400">
							    </div>
							  </div>
							  <!-- Indicators -->
							  <ol class="carousel-indicators">
							    <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
							      <img alt="" src="http://placehold.it/250x180/">
							    </li>
							    <li class="" data-slide-to="1" data-target="#article-photo-carousel">
							      <img alt="" src="http://placehold.it/250x180/">
							    </li>
							    <li class="" data-slide-to="2" data-target="#article-photo-carousel">
							      <img alt="" src="http://placehold.it/250x180/">
							    </li>
							    <li class="hidden-xs" data-slide-to="3" data-target="#article-photo-carousel">
							      <img alt="" src="http://placehold.it/250x180/">
							    </li>
							    <li class="hidden-xs hidden-md" data-slide-to="4" data-target="#article-photo-carousel">
							      <img alt="" src="http://placehold.it/250x180/">
							    </li>
							  </ol>
				      </div>


	            <div style="margin-top:20px; "class="panel">
	                <div class="row">
	                    <div class="col-xs-3 col-md-3 text-center">
	                        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/t1.0-1/c44.44.552.552/s160x160/484015_2278357474733_1821449611_n.jpg" class="img-thumbnail img-responsive" />
	                    </div>
	                    <div class="col-xs-9 col-md-9 section-box">
	                        <h3>
	                            Tyler Ruby
	                        </h3>
	                        <p>
	                            Ruby on Rails, Bootstrap 3, jQuery</p>
	                        <hr />
	                        <div class="row rating-desc">
	                            <div class="col-md-12">
	                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
	                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
	                                </span><span class="glyphicon glyphicon-star"></span>(36)<span class="separator">|</span>
	                                <span class="glyphicon glyphicon-comment"></span>(100)
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>


				    </div>

		        <div class="col-md-5">

						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h3 class="panel-header">$75
						      <button type="button" class="btn btn-blue btn-panel pull-right">Buy</button>

										<div class="clearfix"></div>
										</h3>
						    </div>
					      <div class="panel-body">
					        <img src="http://www.verticalresponse.com/blog/wp-content/uploads/2013/07/Vine-logo.jpg" style="width:100%; height:200px;" class="img-rounded">


					      </div>
								

					    </div>

					    <div class="row">
								<div class="col-md-12">
								  <div class="panel panel-default show-panel ">
								    <div class="panel-heading">
								      <h3 class="panel-title">Features</h3>
								      <span class="pull-right">
								          <!-- Tabs -->
								          <ul class="nav panel-tabs">
								              <li class="active"><a href="#tab1" data-toggle="tab">Info</a></li>
								              <li><a href="#tab2" data-toggle="tab">Details</a></li>
								              <li><a href="#tab3" data-toggle="tab">Other</a></li>
								          </ul>
								      </span>
								    </div>
								    <div class="panel-body">
								      <div class="tab-content">
								        <div class="tab-pane active" id="tab1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At</div>
								        <div class="tab-pane" id="tab2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
								        <div class="tab-pane" id="tab3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
								      </div>
								    </div>
								  </div>
								</div>
							</div>

		        </div>


		      </div>

		      <div class="row"> <!--User Row -->


		      </div> <!--End of User Row -->


		    </div>

      </div>


      <div class="panel panel-default main-panel">
        <div class="panel-heading">
		  		<h1 class="panel-header"><small>Similar Apps</small>
					
					  <a class="right glyphicon glyphicon-chevron-right btn btn-blue pull-right" href="#carousel-example-generic" data-slide="next"></a>
					  <a class="left glyphicon glyphicon-chevron-left btn btn-blue pull-right" href="#carousel-example-generic" data-slide="prev"></a>
	
								            <div class="clearfix"></div>
					</h1>
	      </div>
		    <div class="panel-body">


		      <div class="container col-md-12">
								    <div class="row">
	
								        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								            <!-- Wrapper for slides -->
								            <div class="carousel-inner">
								                <div class="item active">
								                    <div class="row">
								                        <div class="col-sm-4">
								                            <div class="col-item">
								                                <div class="photo">
								                                    <img src="http://placehold.it/350x240/2FDD80/ffffff/" class="img-responsive" alt="a">
								                                </div>
								                                <div class="info">
								                                    <div class="row">
								                                        <div class="price col-md-6">
								                                            <h5>
								                                                Sample Product</h5>
								                                            <h5 class="price-text-color">
								                                                $199.99</h5>
								                                        </div>
								                                        <div class="rating col-md-6">
								                                            <span class="price-text-color glyphicon glyphicon-star"></span><i class="price-text-color glyphicon glyphicon-star">
								                                            </i><i class="price-text-color glyphicon glyphicon-star"></i><i class="price-text-color glyphicon glyphicon-star">
								                                            </i><i class="glyphicon glyphicon-star"></i>
								                                        </div>
								                                    </div>
								                                    <div class="separator clear-left">
								                                        <p class="btn-add">
								                                            <i class="glyphicon glyphicon-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
								                                        <p class="btn-details">
								                                            <i class="glyphicon glyphicon-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
								                                    </div>
								                                    <div class="clearfix">
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                        <div class="col-sm-4">
								                            <div class="col-item">
								                                <div class="photo">
								                                    <img src="http://placehold.it/350x240/2f8cdd/ffffff/" class="img-responsive" alt="a">
								                                </div>
								                                <div class="info">
								                                    <div class="row">
								                                        <div class="price col-md-6">
								                                            <h5>
								                                                Product Example</h5>
								                                            <h5 class="price-text-color">
								                                                $249.99</h5>
								                                        </div>
								                                        <div class="rating col-md-6">
								                                        </div>
								                                    </div>
								                                    <div class="separator clear-left">
								                                        <p class="btn-add">
								                                            <i class="glyphicon glyphicon-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
								                                        <p class="btn-details">
								                                            <i class="glyphicon glyphicon-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
								                                    </div>
								                                    <div class="clearfix">
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                        <div class="col-sm-4">
								                            <div class="col-item">
								                                <div class="photo">
								                                    <img src="http://placehold.it/350x240/802FDD/ffffff/" class="img-responsive" alt="a">
								                                </div>
								                                <div class="info">
								                                    <div class="row">
								                                        <div class="price col-md-6">
								                                            <h5>
								                                                Next Sample Product</h5>
								                                            <h5 class="price-text-color">
								                                                $149.99</h5>
								                                        </div>
								                                        <div class="rating col-md-6">
								                                            <i class="price-text-color glyphicon glyphicon-star"></i><i class="price-text-color glyphicon glyphicon-star">
								                                            </i><i class="price-text-color glyphicon glyphicon-star"></i><i class="price-text-color glyphicon glyphicon-star">
								                                            </i><i class="glyphicon glyphicon-star"></i>
								                                        </div>
								                                    </div>
								                                    <div class="separator clear-left">
								                                        <p class="btn-add">
								                                            <i class="glyphicon glyphicon-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
								                                        <p class="btn-details">
								                                            <i class="glyphicon glyphicon-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
								                                    </div>
								                                    <div class="clearfix">
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                    </div>
								                </div>
								                <div class="item">
								                    <div class="row">
								                        <div class="col-sm-4">
								                            <div class="col-item">
								                                <div class="photo">
								                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a">
								                                </div>
								                                <div class="info">
								                                    <div class="row">
								                                        <div class="price col-md-6">
								                                            <h5>
								                                                Product with Variants</h5>
								                                            <h5 class="price-text-color">
								                                                $199.99</h5>
								                                        </div>
								                                        <div class="rating col-md-6">
								                                            <i class="price-text-color glyphicon glyphicon-star"></i><i class="price-text-color glyphicon glyphicon-star">
								                                            </i><i class="price-text-color glyphicon glyphicon-star"></i><i class="price-text-color glyphicon glyphicon-star">
								                                            </i><i class="glyphicon glyphicon-star"></i>
								                                        </div>
								                                    </div>
								                                    <div class="separator clear-left">
								                                        <p class="btn-add">
								                                            <i class="glyphicon glyphicon-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
								                                        <p class="btn-details">
								                                            <i class="glyphicon glyphicon-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
								                                    </div>
								                                    <div class="clearfix">
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                        <div class="col-sm-4">
								                            <div class="col-item">
								                                <div class="photo">
								                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a">
								                                </div>
								                                <div class="info">
								                                    <div class="row">
								                                        <div class="price col-md-6">
								                                            <h5>
								                                                Grouped Product</h5>
								                                            <h5 class="price-text-color">
								                                                $249.99</h5>
								                                        </div>
								                                        <div class="rating col-md-6">
								                                        </div>
								                                    </div>
								                                    <div class="separator clear-left">
								                                        <p class="btn-add">
								                                            <i class="glyphicon glyphicon-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
								                                        <p class="btn-details">
								                                            <i class="glyphicon glyphicon-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
								                                    </div>
								                                    <div class="clearfix">
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                        <div class="col-sm-4">
								                            <div class="col-item">
								                                <div class="photo">
								                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a">
								                                </div>
								                                <div class="info">
								                                    <div class="row">
								                                        <div class="price col-md-6">
								                                            <h5>
								                                                Product with Variants</h5>
								                                            <h5 class="price-text-color">
								                                                $149.99</h5>
								                                        </div>
								                                        <div class="rating col-md-6">
								                                            <i class="price-text-color glyphicon glyphicon-star"></i><i class="price-text-color glyphicon glyphicon-star">
								                                            </i><i class="price-text-color glyphicon glyphicon-star"></i><i class="price-text-color glyphicon glyphicon-star">
								                                            </i><i class="glyphicon glyphicon-star"></i>
								                                        </div>
								                                    </div>
								                                    <div class="separator clear-left">
								                                        <p class="btn-add">
								                                            <i class="glyphicon glyphicon-shopping-cart"></i><a href="http://www.jquery2dotnet.com">Add to cart</a></p>
								                                        <p class="btn-details">
								                                            <i class="glyphicon glyphicon-list"></i><a href="http://www.jquery2dotnet.com">More details</a></p>
								                                    </div>
								                                    <div class="clearfix">
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>

				</div>



    </div>
  </div>
</div>