/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$body-bg: #e5e5e5;

$navbar-height: 55px;
$navbar-default-bg: #898989;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: #727272;
$navbar-default-link-active-bg: #5b5b5b;
$navbar-default-link-active-color: #fff;

$nav-tabs-link-hover-border-color: none;
$nav-tabs-link-hover-color: #fff;

$container-large-desktop: 1240px;
$container-lg: $container-large-desktop;


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


.main-panel > .panel-heading {
  height:60px;
  color: #282828;
  padding-top:18px;
  background:#dcdcdc;
  border-bottom:3px solid #a3a3a3;
}
.panel-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 27px;
}
.panel-header > .nav-tabs > li > a:hover {
  font-size: 17px;
  padding: 7px 15px;
  color: #fff;
  background: #c9c9c9;
}

.main-footer {
  background: #ddd;
  color: #000;
  height: 10px;
}
.navbar-default .navbar-nav > li > a {
  font-size:18px;
}
.navbar {
  border-radius: 0px;
}
.btn-panel {
  padding: 0px 10px;
  font-size: 18px;
  padding-top:2px;
}
.btn-inverse {
  color:#fff;
  background:#494949;
}
.btn-inverse:hover {
  color:#fff;
  background:#000;
}
.buy {
  margin-right:10px;
}
.panel-header > .nav-tabs > li > a {
  font-size:17px;
  padding: 7px 15px;
  color: #7d7d7d;
  background:#c9c9c9;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #fff;
  background: #898989;
}


/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 1px solid #898989;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 4px solid #787878;
    opacity: 0.7;


}

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

.show-panel  {
  border: none;
}
.show-panel > .panel-heading {
  background-color: #a3a3a3;
}
.show-panel > .panel-heading > h3 {
  color: #fff;
  font-size:18px;
}




.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
