/* Sass Variables */
$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$body-bg: #fff;


$navbar-height: 55px;
$navbar-default-bg: #399E5A;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #000;
$navbar-default-link-hover-bg: #fff;
$navbar-default-link-active-bg: #5b5b5b;
$navbar-default-link-active-color: #fff;
$navbar-margin-bottom: 0px;

$nav-tabs-link-hover-border-color: none;
$nav-tabs-link-hover-color: #fff;

$container-large-desktop: 1240px;
$container-lg: $container-large-desktop;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* Dropdown on hover */
.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
    display: block;
 }

/* Similar Apps Slider */
.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img {
    margin: 0 auto;
    width: 100%;
}
.col-item .info {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item:hover .info {
    background-color: #fbfbfb;
}
.col-item .price {
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5 {
    line-height: 20px;
    margin: 0;
}

.price-text-color {
    color: #2f8cdd;
}

.col-item .info .rating {
    color: #777;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

/* Navbar Button */
.navbar-btn {
  margin-left:5px;
}

/* Blue Button */
.btn-blue { 
  color: #FFFFFF; 
  background-color: #05668D;
} 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #FFFFFF !important; 
  background-color: #05668D; 
} 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #2f8cdd; 
} 
.btn-blue .badge { 
  color: #fff; 
  background-color: #2f8cdd; 
}

/* Green Button */
.btn-green { 
  color: #ffffff; 
  background-color: #2FDD80; 
  border-color: #2AC673; 
}  
.btn-green:hover, 
.btn-green:focus, 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  color: #ffffff !important; 
  background-color: #25b066; 
  border-color: #2AC673; 
}  
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  background-image: none; 
} 
.btn-green.disabled, 
.btn-green[disabled], 
fieldset[disabled] .btn-green, 
.btn-green.disabled:hover, 
.btn-green[disabled]:hover, 
fieldset[disabled] .btn-green:hover, 
.btn-green.disabled:focus, 
.btn-green[disabled]:focus, 
fieldset[disabled] .btn-green:focus, 
.btn-green.disabled:active, 
.btn-green[disabled]:active, 
fieldset[disabled] .btn-green:active, 
.btn-green.disabled.active, 
.btn-green[disabled].active, 
fieldset[disabled] .btn-green.active { 
  background-color: #2FDD80; 
  border-color: #2AC673; 
}  
.btn-green .badge { 
  color: #fff; 
  background-color: #ffffff; 
}

/* Green Button */
.btn-purple { 
  color: #ffffff; 
  background-color: #028090; 
  border-color: #028090; 
} 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #ffffff !important; 
  background-color:#028090; 
  border-color: #028090; 
} 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: #802FDD; 
  border-color: #4c1c84; 
} 
.btn-purple .badge { 
  color: #802FDD; 
  background-color: #ffffff; 
}

/* Panels */
.panel-user {
  margin-bottom: 20px;
  margin-top: 20px;

}
.main-panel > .panel-heading {
  height:60px;
  color: #282828;
  padding-top:18px;
  background:#f6f6f6;
  border-bottom:3px solid #c9c9c9;
}
.panel-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 27px;
}
.panel-header > .nav-tabs > li > a:hover {
  font-size: 17px;
  padding: 7px 15px;
  color: #fff;
  background: #c9c9c9;
}

/* User Profile */
.user {
  background: url(http://i.imgur.com/m3UoBUA.png) no-repeat; 
  background-size: 1450px 350px;
  background-color: #ddd;
  
}
.user-pic {
  margin-top: 140px !important;
}
.user-app {
  margin-top:20px !important;
}
.app-pic {
  width: 300px;
}
.user-port {
  margin-top: 200px !important;
}
.user-image {
  border: 5px solid white;
}
.user-name {
  margin-top: 0px;
}
.user-btn {
  margin-top:5px !important;
}
.app-image {
  height:300px;
}

/* Navbar */
.navbar-default .navbar-nav > li > a {
  font-size:18px;
}
.navbar-toggle {
  background-color: white;
}
.navbar {
  border-radius: 0px;
}

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}
.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}
.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}
.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

/*Profile - Show?*/
.profile {
  background: #fff;
  width: 100%;
  margin-left:3px;
  margin-top:10px;
  margin-bottom:10px;
  padding-bottom:8px;
  padding-top:8px;
}

/*Show Panel*/
.show-panel  {
  border: none;
}
.show-panel > .panel-heading {
  background-color: #bdbdbd;
}
.show-panel > .panel-heading > h3 {
  color: #fff;
  font-size:18px;
}
.modal-xl {
  width:95%;
}


